/* Estilos básicos */
body {
    min-height: 100vh;
    margin: 0; /* Eliminar márgenes */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0; /* Fondo suave */
    color: #333; /* Color de texto */
}

h1 {
    color: #007bff; /* Color azul para el título */
    font-size: 2.5rem; /* Tamaño más grande */
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilos de botón */
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color de texto blanco */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s; /* Efecto de transición */
}

button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
    transform: translateY(-2px); /* Efecto de elevación */
}

button:disabled {
    background-color: #ccc; /* Color gris para botones deshabilitados */
    cursor: not-allowed;
}

/* Vista previa de la imagen */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Para que ocupe el ancho completo */
}

#imagePreview {
  display: none;
  max-width: 300px;
  margin-top: 20px;
  border: 2px solid #ddd; /* Borde claro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Spinner 
#spinner {
    display: none;
    margin-top: 20px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #007bff; /* Color del spinner */
    /*animation: spin 1s linear infinite;
}*/

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Resultados */
#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    background: white; /* Fondo blanco */
    padding: 15px; /* Padding para el resultado */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    max-width: 600px; /* Ancho máximo */
    text-align: center; /* Centrar texto */
}

/* Responsividad */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Tamaño más pequeño en pantallas pequeñas */
    }

    button {
        width: 100%; /* Botones ocupan todo el ancho en pantallas pequeñas */
    }
}

#openNavButton {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Estilo para el menú lateral en listado */
#sidebar {
    height: 100%;
    width: 250px; /* Ajusta según el ancho deseado */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-y: auto; /* Permite el desplazamiento en caso de contenido extenso */
    padding-top: 20px;
    color: white;
    width: 0; /* Oculto al iniciar */
    transition: width 0.3s; /* Transición suave para abrir/cerrar */
}

/* Estilo para organizar elementos en columna */
#sidebar h2, #sidebar h3, #sidebar label {
    display: block;
    margin: 15px 20px;
}

/* Estilo de checkbox en nueva línea */
#sidebar label {
    display: flex; /* Alinea el texto y el checkbox */
    align-items: center;
    font-size: 18px; /* Tamaño de texto */
    color: #ccc;
}

#sidebar label input {
    margin-right: 10px; /* Espacio entre el checkbox y el texto */
}

/* Botón para cerrar el menú lateral */
#closeNavButton {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

/* Estilo para el contenido principal cuando el menú está abierto */
#mainContent {
    transition: margin-left 0.3s; /* Transición suave para el margen */
    padding: 1rem;
    flex: 1;
}

/* Estilo para el contenedor #titulo */
#titulo {
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    justify-content: space-between; /* Coloca la imagen a la derecha */
    padding: 20px;
    max-width: 800px; /* Ajusta según el diseño */
    margin: 0 auto; /* Centra el contenedor si es necesario */
}

#titulo h1 {
    font-size: 2rem;
    color: #333;
    margin: 0;
}

#titulo img {
    width: 120px; /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-left: 20px; /* Espacio entre el texto y la imagen */
}

h1{
    color: blue;
}

h2{
    color: #007bff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    border-radius: 10px; /* Redondea las esquinas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra sutil */
    margin: 1rem; /* Añade un margen alrededor del navbar para separar del borde */
}

/* Resto de los estilos del navbar */
.navbar-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar-logo .logo {
    width: auto;
    height: 100px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #00cc66;
}


/* Sidebar */
#sidebar {
    /* Tu estilo existente para el sidebar */
}

/* Footer */
footer {
    z-index: -2;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content a {
    color: #00cc66;
    text-decoration: none;
    margin: 0 0.5rem;
}

.footer-content a:hover {
    text-decoration: underline;
}

/*Container check*/
/* From Uiverse.io by SelfMadeSystem */ 
.container {
    cursor: pointer;
  }
  
  .container input {
    display: none;
  }
  
  .container svg {
    overflow: visible;
  }
  
  .path {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
  }
  
  .container input:checked ~ svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
  }
  
  .checkbox-icon {
    margin-right: 8px;}
    .checkbox-icon path {
        stroke: #007bff;  /* Esto cambiará el color de la línea del trazo a azul */
        stroke-width: 5; /* Puedes ajustar el grosor de la línea si lo deseas */
        fill: none; /* Esto asegura que el fondo del ícono siga siendo transparente */
      }
      

/*Hamster*/
#spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* From Uiverse.io by Nawsome */ 
.wheel-and-hamster {
    --dur: 1s;
    position: relative;
    width: 12em;
    height: 12em;
    font-size: 14px;
  }
  
  .wheel,
  .hamster,
  .hamster div,
  .spoke {
    position: absolute;
  }
  
  .wheel,
  .spoke {
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .wheel {
    background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
    z-index: 2;
  }
  
  .hamster {
    animation: hamster var(--dur) ease-in-out infinite;
    top: 50%;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 3.75em;
    transform: rotate(4deg) translate(-0.8em,1.85em);
    transform-origin: 50% 0;
    z-index: 1;
  }
  
  .hamster__head {
    animation: hamsterHead var(--dur) ease-in-out infinite;
    background: hsl(30,90%,55%);
    border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
    box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
          0.75em -1.55em 0 hsl(30,90%,90%) inset;
    top: 0;
    left: -2em;
    width: 2.75em;
    height: 2.5em;
    transform-origin: 100% 50%;
  }
  
  .hamster__ear {
    animation: hamsterEar var(--dur) ease-in-out infinite;
    background: hsl(0,90%,85%);
    border-radius: 50%;
    box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
    top: -0.25em;
    right: -0.25em;
    width: 0.75em;
    height: 0.75em;
    transform-origin: 50% 75%;
  }
  
  .hamster__eye {
    animation: hamsterEye var(--dur) linear infinite;
    background-color: hsl(0,0%,0%);
    border-radius: 50%;
    top: 0.375em;
    left: 1.25em;
    width: 0.5em;
    height: 0.5em;
  }
  
  .hamster__nose {
    background: hsl(0,90%,75%);
    border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
    top: 0.75em;
    left: 0;
    width: 0.2em;
    height: 0.25em;
  }
  
  .hamster__body {
    animation: hamsterBody var(--dur) ease-in-out infinite;
    background: hsl(30,90%,90%);
    border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
    box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
          0.15em -0.5em 0 hsl(30,90%,80%) inset;
    top: 0.25em;
    left: 2em;
    width: 4.5em;
    height: 3em;
    transform-origin: 17% 50%;
    transform-style: preserve-3d;
  }
  
  .hamster__limb--fr,
  .hamster__limb--fl {
    clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
    top: 2em;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    transform-origin: 50% 0;
  }
  
  .hamster__limb--fr {
    animation: hamsterFRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
    transform: rotate(15deg) translateZ(-1px);
  }
  
  .hamster__limb--fl {
    animation: hamsterFLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
    transform: rotate(15deg);
  }
  
  .hamster__limb--br,
  .hamster__limb--bl {
    border-radius: 0.75em 0.75em 0 0;
    clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
    top: 1em;
    left: 2.8em;
    width: 1.5em;
    height: 2.5em;
    transform-origin: 50% 30%;
  }
  
  .hamster__limb--br {
    animation: hamsterBRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
    transform: rotate(-25deg) translateZ(-1px);
  }
  
  .hamster__limb--bl {
    animation: hamsterBLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
    transform: rotate(-25deg);
  }
  
  .hamster__tail {
    animation: hamsterTail var(--dur) linear infinite;
    background: hsl(0,90%,85%);
    border-radius: 0.25em 50% 50% 0.25em;
    box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
    top: 1.5em;
    right: -0.5em;
    width: 1em;
    height: 0.5em;
    transform: rotate(30deg) translateZ(-1px);
    transform-origin: 0.25em 0.25em;
  }
  
  .spoke {
    animation: spoke var(--dur) linear infinite;
    background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
          linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
  }
  
  /* Animations */
  @keyframes hamster {
    from, to {
      transform: rotate(4deg) translate(-0.8em,1.85em);
    }
  
    50% {
      transform: rotate(0) translate(-0.8em,1.85em);
    }
  }
  
  @keyframes hamsterHead {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(8deg);
    }
  }
  
  @keyframes hamsterEye {
    from, 90%, to {
      transform: scaleY(1);
    }
  
    95% {
      transform: scaleY(0);
    }
  }
  
  @keyframes hamsterEar {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(12deg);
    }
  }
  
  @keyframes hamsterBody {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-2deg);
    }
  }
  
  @keyframes hamsterFRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(50deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-30deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterFLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-30deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(50deg);
    }
  }
  
  @keyframes hamsterBRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-60deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(20deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterBLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(20deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-60deg);
    }
  }
  
  @keyframes hamsterTail {
    from, 25%, 50%, 75%, to {
      transform: rotate(30deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(10deg) translateZ(-1px);
    }
  }
  
  @keyframes spoke {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(-1turn);
    }
  
  }


  
    /* From Uiverse.io by vinodjangid07 */ 
.file-upload-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .file-upload-label input {
    display: none;
  }
  .file-upload-label svg {
    height: 50px;
    fill: rgb(82, 82, 82);
    margin-bottom: 20px;
  }
  .file-upload-label {
    cursor: pointer;
    background-color: #ddd;
    padding: 30px 70px;
    border-radius: 40px;
    border: 2px dashed rgb(82, 82, 82);
    box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
  }
  .file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .browse-button {
    background-color: rgb(82, 82, 82);
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
  }
  .browse-button:hover {
    background-color: rgb(14, 14, 14);
  }
  

